//contact
.contactMeForm {
    padding: 5rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, 
textarea {
    width: 700px;
    align-self: center;
    margin: 1rem 0;
    border: 2px solid $lightGrey;
    color: $red;
    font-size: 14px;
    font-family: $montserrat;
    padding: 1rem;
    transition: 1s border-color ease-out;
}

input:focus,
textarea:focus {
    border-color: $red;
}

input {
    height: 3rem;
}

textarea {
    resize: none;
}

button {
    align-self: center;
    width: 150px;
    padding: 1rem 0;
    border: 2px solid $lightGrey;
    background-color: $white;
    font-family: $montserrat;
    color: $grey;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 1s border-color ease-out;
}

button:hover {
    border-color: $red;
}

//phone and email
.instantContact {
    background-color: $dirtyWhite;
    padding: 10rem 0;
    position: center;
    margin-bottom: 0;
}

.instantContact ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.instantContact i {
    color: $red;
    font-size: 50px;
}

.instantContact a {
    font-size: 24px;
    font-weight: bold;
    transition: 1s color ease-out;
}

.instantContact a:hover {
    color: $red;
}

.fa-phone-alt {
    padding-left: 2rem;
}

.fa-envelope {
    padding-right: 2rem;
}