//about me

.aboutMeMain {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    flex: 100%;
}

.aboutMeMainProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 70%;
}

.aboutMeImg {
    flex-basis: 25%;
}

.aboutMeMainProfile div:first-of-type {
    text-align: right;
    padding-right: 4rem;
}

//my work
.projects {
    padding: 5rem 0;
}

.project {
    display: flex;
    flex: 100%;
    justify-content: space-between;
}

.project > div {
    align-self: center;
    flex-basis: 45%;
    margin: 2rem 0;
}

.project img {
    height: 300px;
    width: auto;
}

.tools {
    margin-top: 0;
    color: $red;
}

.projectLinks ul{
    display: flex;
}

.projectLinks li {
    padding: 1rem 2rem;
    border: 1px solid $lightGrey;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 14px;
}

//contact
.contactMeForm {
    padding: 5rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, 
textarea {
    width: 700px;
    align-self: center;
    margin: 1rem 0;
    border: 1px solid $lightGrey;
    color: $red;
    font-size: 14px;
    font-family: $montserrat;
    padding: 1rem;
}

input {
    height: 3rem;

}

textarea {
    resize: none;
}

button {
    align-self: center;
    width: 100px;
    padding: 1rem 2rem;
    border: 1px solid $lightGrey;
    background-color: $white;
    font-family: $montserrat;
    color: $grey;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

//phone and email
.instantContact {
    background-color: $dirtyWhite;
    padding: 10rem 0;
    position: center;
}

.instantContact ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.instantContact i {
    color: $red;
    font-size: 50px;
}

.instantContact a {
    font-size: 24px;
    font-weight: bold;
}

.instantContact a:hover {
    color: $red;
}

.fa-phone-alt {
    padding-left: 2rem;
}

.fa-envelope {
    padding-right: 2rem;
}