html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  background-color: #FFFFFF;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1160px;
  width: 90%;
}

h2 {
  font-size: 16px;
  color: #FF4D4D;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 14px;
  color: #666666;
}

a {
  text-decoration: none;
  color: #666666;
}

ul {
  list-style: none;
  padding: 0;
}

strong {
  color: #333333;
}

section {
  margin: 4rem 0;
}

.headingDiv {
  position: relative;
  z-index: 1;
}

.headingDiv h2 {
  display: inline;
  padding: 1rem 3rem;
  border: 2px solid #DDDDDD;
  background-color: #FFFFFF;
}

.headingDiv h2:before {
  border-top: 2px solid #DDDDDD;
  content: "";
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

header {
  height: 80vh;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  color: #222222;
}

.menu {
  padding: 3rem 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  border: 2px #FAFAFA solid;
  padding: 1rem 2rem;
  margin: 0 1rem;
  -webkit-transition: 1s border-bottom-color ease-out;
  transition: 1s border-bottom-color ease-out;
}

.menu li:hover {
  border-bottom-color: #FF4D4D;
}

.menu a {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  position: relative;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: #FF4D4D;
  font-size: 70px;
  margin-top: 0;
}

.lastName::first-letter,
.firstName {
  font-size: 150px;
  color: #DDDDDD;
}

.lastName {
  position: absolute;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.mobileMenu {
  position: relative;
  cursor: pointer;
  display: none;
}

.icon {
  width: 50px;
  height: 50px;
  position: relative;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  background: #222222;
  border-radius: 8px;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 18%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 78%;
}

.icon.close .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle, .icon.close .bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
}

.icon.close {
  z-index: 2;
}

.menu nav.open {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
  background-color: rgba(250, 250, 250, 0.7);
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.menu nav.open li {
  border: rgba(250, 250, 250, 0.7);
}

.open ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  margin-top: 10rem;
}

.aboutMeMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.aboutMeMainProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.aboutMeMainProfile div {
  width: 60%;
}

.aboutMeImg {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.aboutMeMainProfile div:first-of-type {
  text-align: right;
  padding-right: 2rem;
}

.projects {
  padding: 5rem 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project > div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 2rem 0;
}

.project img {
  height: 300px;
  width: auto;
}

.tools {
  margin-top: 0;
  color: #FF4D4D;
}

.projectLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLinks li {
  padding: 1rem 2rem;
  border: 1px solid #DDDDDD;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 14px;
}

.contactMeForm {
  padding: 5rem 0;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
textarea {
  width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 0;
  border: 1px solid #DDDDDD;
  color: #FF4D4D;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

input:focus,
textarea:focus {
  border-color: #FF4D4D;
}

input {
  height: 3rem;
}

textarea {
  resize: none;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 150px;
  padding: 1rem 0;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  border-color: #FF4D4D;
  color: #FF4D4D;
}

.instantContact {
  background-color: #FAFAFA;
  padding: 10rem 0;
  position: center;
  margin-bottom: 0;
}

.instantContact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instantContact i {
  color: #FF4D4D;
  font-size: 50px;
}

.instantContact a {
  font-size: 24px;
  font-weight: bold;
}

.instantContact a:hover {
  color: #FF4D4D;
}

.fa-phone-alt {
  padding-left: 2rem;
}

.fa-envelope {
  padding-right: 2rem;
}

footer {
  background-color: #222222;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}

.copyRights {
  padding: 1rem;
  margin: 0;
}

.copyRights p {
  color: #FFFFFF;
}

.copyRights a:hover {
  color: #FFFFFF;
}

.socialLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialLinks li {
  padding: 1rem;
  margin-left: 2rem;
}

.socialLinks li:hover {
  border: 6px dashed #FF4D4D;
  color: #FF4D4D;
}

.socialLinks i {
  font-size: 20px;
  color: #FFFFFF;
}

@media (max-width: 1000px) {
  .mobileMenu {
    display: inline;
  }
  .menu nav {
    display: none;
  }
}
